@import url('https://api.fontshare.com/v2/css?f[]=satoshi@700,500,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;1,400&display=swap');

:root {
    --cbb-verde-principal-rgb: 0, 139, 118;
    --cbb-verde-principal: #008b76;
    --cbb-verde-llano: #16C64F;
    --cbb-verde-limon: #CCD845;
    --cbb-ocre-tierra: #CB7E10;

    --font-primary: 'Satoshi', sans-serif;
    --font-secondary: 'Crimson Text', serif;
}