:root {
    --cbb-verde-principal: #008b76;
    --cbb-verde-llano: #16C64F;
    --cbb-verde-limon: #CCD845;
    --cbb-ocre-tierra: #CB7E10;
    
    --font-primary: 'Satoshi', sans-serif;
    --font-secondary: 'Crimson Text', serif;
}